/*External CSS*/
/*External Css is CSS styles written in a seprate from from the HTML file. It is stored in a file that has a .CSS file extension*/

/*What's a CSS selector: A CSS selector is a name used to define an element, its attributes or its state*/
/*element name selectors e.g. body, h2, etc. use the name of the element in the selector*/

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    border: 3px solid red;
}

header img{
    /*display: block;*/
   /* margin-inline: auto;*/
   width: 200px;
}

p{
    background-color: darkgoldenrod;
}

/* id selector: used to uniquely identify an element i.e. an id for each element - multiple elements having the same id is not allowed */

#first{ /* or P#first*/
    background-color: azure;
}
#second{
    background-color: rgb(135, 206, 250);
}

/*Class Selectors - used to select multiple elements in order to apply same styles to them */

.main_header{
    display: flex;
}

/* Combinator Selectors: used to select elements based on the relationship between them */

/* Descedant combinator */ 
header ul{
    display: flex;
}

/* Child Selector */
nav>li{
    background-color: blue;
}

ul li{
    list-style: none;
    margin-inline: 2rem;
}

/* Sibling Selectors */